# Server
PORT=4000
NODE_ENV=development
FRONTEND_ORIGIN=http://localhost:4200

# Database (Postgres)
# Formato: postgres://user:password@host:port/dbname
DATABASE_URL=postgres://postgres:postgres@localhost:5432/secureapp

# JWT
JWT_SECRET=CAMBIA_POR_UN_SECRETO_LARGO_Y_FUERTE
JWT_EXPIRATION=2h

# Cookie
COOKIE_NAME=token
