body, html {
  height: 100%;
  background: linear-gradient(135deg, #6c5ce7, #00b894);
}

.card {
  border-radius: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

h2 {
  color: #2d3436;
}

.form-control {
  border-radius: 10px;
}

.btn-primary {
  border-radius: 10px;
  transition: transform 0.2s;
}

.btn-primary:hover {
  transform: scale(1.05);
}

a.text-primary {
  text-decoration: none;
  transition: color 0.2s;
}

a.text-primary:hover {
  color: #0d6efd; /* Azul Bootstrap más intenso al hover */
  text-decoration: underline;
}

