<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card shadow-lg p-4 p-md-5" style="max-width: 400px; width: 100%;">
    <div class="text-center mb-4">
      <h2 class="fw-bold">Registro</h2>
      <p class="text-muted">Crea tu cuenta para acceder al sistema</p>
    </div>

    <!-- Inputs -->
    <div class="mb-3">
      <label for="username" class="form-label">Usuario</label>
      <input id="username" type="text" class="form-control" placeholder="Ej. Pepitopicapiedra" [(ngModel)]="username">
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input id="password" type="password" class="form-control" placeholder="Ej. Pepito123" [(ngModel)]="password">
    </div>

    <!-- Botón -->
    <div class="d-grid mb-3">
      <button class="btn btn-success btn-lg" (click)="register()">Crear Cuenta</button>
    </div>

    <!-- Login -->
    <p class="text-center text-muted">
      ¿Ya tienes cuenta?
      <a routerLink="/login" class="text-success fw-bold">Inicia aquí</a>
    </p>

  </div>
</div>